.comingSoon{
    text-align: center;
    background-color: #f7f7f7;
    padding: 80px 0;
    font-size: 30px;
    font-weight: 800;
    line-height: 29px;
}
@media (max-width:780px) {
    .nav>div:nth-child(2) a>span{
        color: #db1d23;
      }
      .nav>div:nth-child(2) a:first-of-type {
        color: #000;
    } 
}